@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Prince Pandit</h1>
    <p>This is p</p>
    <h1>Welcome Nishant</h1>
    <p>This is Nishant</p>
    <h1>Welcome TL</h1>
    <p>This is TL Bhai</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
